/* .gif {
    height: 50px;
    width: auto;
    position: relative;
    right: -550px;
}

p {
    position: relative;
    right: -550px;
    font-family: georgia;
}

body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-family: serif;
} */